<br />
<input type="text" name="" id="" value="Enter question type" />
<select name="" id="">
  <option value="">Course</option>
  <option value="">BSc CS</option>
  <option value="">BCom</option>
</select>

<br />
<div class="quiz-container">
  <div class="quiz-item">Java</div>
  <br />
  <div class="quiz-item">IT</div>
  <br />
  <div class="quiz-item">Accounting</div>
  <br />
  <div class="quiz-item">SQL</div>
  <br />
  <div class="quiz-item">Web Development</div>
  <br />
  <div class="quiz-item">Economics</div>
</div>
