<br />
<a routerLink="..">Back</a>

<h1>Enter User Details</h1>
<form action="">
  <label for="" class="col-sm-2 col-form-label">Upload User Photo : </label>
  <input type="file" value="UPLOAD FILE" class="form-control-file" />
  <br />
  <label for="" class="col-sm-2 col-form-label">User Name : </label>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="User Name" />
  </div>
  <br />

  <label for="" class="col-sm-2 col-form-label">User Age : </label>
  <div class="col-sm-2">
    <input type="number" class="form-control" />
  </div>
  <br />

  <label for="" class="col-sm-2 col-form-label">Address : </label>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Address" />
  </div>
  <br />

  <label for="" class="col-sm-2 col-form-label">Company : </label>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Company Name" />
  </div>
  <br />

  <label for="" class="col-sm-2 col-form-label">Email : </label>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Email" />
  </div>
  <br />

  <label for="user_type" class="col-sm-2 col-form-label">User Type :</label>
  <div class="col-sm-2">
    <select name="user_type" id="user_type" class="form-control">
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
  </div>

  <br /><br />
  <div class="col-sm-10">
    <input type="submit" class="btn btn-primary" value="Submit" />
  </div>
</form>
