<br />
<a routerLink="..">Back</a>
<h1>Enter Candidate Details</h1>
<form action="">
  <label for="">Upload Candidate Photo : </label>
  <input type="file" value="UPLOAD FILE" class="form-control-file" />
  <br />
  <label for="">Candidate Name : </label>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Name" />
  </div>

  <br />

  <label for="">Candidate Age : </label>
  <div class="col-sm-2">
    <input type="number" class="form-control" placeholder="Age" />
  </div>
  <br />

  <label for="">Stream : </label>
  <div class="col-sm-2">
    <select name="course" id="course" class="form-control">
      <option value="course">Select Course</option>
      <option value="course">Commerce</option>
      <option value="course">Computer Science</option>
    </select>
  </div>

  <br />

  <label for="">College : </label>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="College Name" />
  </div>
  <br />

  <label for="">Upload Attachments : </label>
  <input type="file" value="UPLOAD ATTACHMENTS" class="form-control-file" />

  <br />

  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
