<h1>Arrange New Interview</h1>
<br />
<a routerLink="..">Back</a>
<form action="">
  <label for="">Candidate Name : </label>
  <div class="col-sm-2">
    <select name="candidate-name" id="candidate-name" class="form-control">
      <option value="candidate">Select Candidate</option>
    </select>
  </div>

  <br />
  <label for="">Interviewer</label>
  <div class="col-sm-2">
    <select name="interviewer-name" id="interviewer-name" class="form-control">
      <option value="candidate">Select Interviewer</option>
    </select>
  </div>

  <br />
  <label for="">Interview Date</label>
  <input type="date" name="interview-date" id="" value="DD-MM-YYYY" />
  <br />
  <input type="submit" value="Arrange Interview" class="btn btn-primary" />
</form>
